<%
content_for(:page_title, 'Events')
content_for(:page_heading, 'Events')
%>

<% if @app_events.empty? then %>
<p>No events found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Date</th>
			<th>Account</th>
			<th>User</th>
			<th>Level</th>
			<th>Message</th>
		</tr>
	</thead>
	<tbody>
<% @app_events.each do |app_event| %>
		<tr>
			<td><%= app_event.created_at %></td>
			<td><% if app_event.account != nil %><%= link_to app_event.account, admin_account_path(app_event.account) %><% end %></td>
			<td><% if app_event.user != nil %><%= link_to app_event.user, admin_user_path(app_event.user) %><% end %></td>
			<td><%= log_level(app_event) %></td>
			<td><%= app_event.message %></td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @app_events %>
<% end %>
