<%
@title = 'Unlock User'
@heading = 'Users'
@subheading = 'Unlock'
%>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
<%= render_errors resource %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Resend Unlock Instructions</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <%= f.label :email, class: "control-label" %>
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>

    <%= render "devise/shared/links" %>

  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6"></div>
      <div class="col-xs-6 col-sm-6 col-md-6" style="text-align: right">
        <%= f.submit "Send", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>
