<%
@title = 'User Invitationss'
@heading = 'User Invitaions'
@subheading = @user
%>

<ul class="nav nav-tabs">
  <% if can?(:show, @user) %><li><%= link_to "User", user_path(@user) %></li><% end %>
  <% if can?(:accounts, @user) %><li><%= link_to "Accounts", user_accounts_path(@user) %></li><% end %>
  <li class="active"><%= link_to "Invitations", user_user_invitations_path(@user) %></li>
</ul>

<% if @user_invitations.empty? then %>
<p>No user invitations found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>Account</th>
                        <th>Action</th>
		</tr>
	</thead>
	<tbody>
<% @user_invitations.each do |user_invitation| %>
		<tr>
			<td><%= user_invitation.account %></td>
			<td><%= link_to "Show", new_user_invitation_path(invite_code: user_invitation.invite_code), class: "btn btn-primary" %></td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @user_invitations %>
<% end %>