<%
@title = 'User Permissions'
@heading = 'User Permissions'
@subheading = 'Lists'
%>

<div style="text-align: right; padding: 10px 0px;">
  <% if can? :new, User %><%= link_to "New User", new_settings_user_invitation_path, class: "btn btn-primary" %><% end %>
</div>

<% if @user_permissions.empty? then %>
<p>No users found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Flags</th>
		</tr>
	</thead>
	<tbody>
<% @user_permissions.each do |user_permission| %>
<% user = user_permission.user %>
		<tr>
			<td><%= link_to_if can?(:show, user_permission), user.first_name, settings_user_permission_path(user_permission) %></td>
			<td><%= link_to_if can?(:show, user_permission), user.last_name, settings_user_permission_path(user_permission) %></td>
			<td><%= user.email %> <a href="mailto:<%= user.email %>"><span class="glyphicon glyphicon-envelope"></span></a></td>
			<td><% if user_permission.account_admin %><span class="label label-success">Admin</span><% end %> </td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @user_permissions %>
<% end %>