<%= render_errors user %>

<%= form_for [:admin, user] do |f| %>
  <div class="form-group">
    <%= f.label :first_name, class: "control-label" %>
	<%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, class: "control-label" %>
	<%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "control-label" %>
	<%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password, class: "control-label" %>
	<%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: "control-label" %>
	<%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :active, class: "control-label" %>
	<%= f.check_box :active %>
  </div>
  <div class="form-group">
    <%= f.label :super_admin, class: "control-label" %>
	<%= f.check_box :super_admin %>
  </div>
		<%= f.submit "Save", class: "btn btn-primary" %>
<% if user.new_record? %>
		<%= link_to "Discard Changes", admin_users_path %>
<% else %>
		<%= link_to "Discard Changes", admin_user_path(user) %>
<% end %>
<% end %>
