<%
@title = 'Users'
@heading = 'Users'
@subheading = 'List'
@nav_item = 'users'
%>

<% if @users.empty? then %>
<p>No users found</p>
<% else %>
<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Account</th>
			<th>Flags</th>
		</tr>
	</thead>
	<tbody>
<% @users.each do |user| %>
		<tr>
			<td><%= link_to_if can?(:show, user), user.first_name, admin_account_user_path(user.account, user) %></td>
			<td><%= link_to_if can?(:show, user), user.last_name, admin_account_user_path(user.account, user) %></td>
			<td><%= user.email %></td>
			<td><%= link_to_if can?(:show, user.account), user.account, admin_account_path(user.account) %></td>
			<td><% if user.account_admin %><span class="label label-info">Account</span><% end %><% if user.super_admin %><span class="label label-success">Super</span><% end %></td>
		</tr>
<% end %>
	</tbody>
</table>
<%= paginate @users %>
<% end %>