<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= render_title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% if @require_stripe_js %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-12" style="text-align: center; padding-top: 80px">
<%= yield %>
      <p><%= link_to '<span class="glyphicon glyphicon-home"></span> Back Home'.html_safe, root_path, class: 'btn btn-lg btn-primary' %> <a href="mailto:support@example.com" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-envelope"></span> Contact Support</a></p>
  </div>
  </div>
</div>

</body>
</html>
