<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= render_title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body id="app-body">

<%= render "shared/navbar" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li<%if @nav_item == 'dashboard' %> class="active"<% end %>><%= link_to "Dashboard", settings_root_path %></li>
        <li<%if @nav_item == 'account' %> class="active"<% end %>><%= link_to "Details", settings_account_path %></li>
        <li<%if @nav_item == 'card' %> class="active"<% end %>><%= link_to "Credit Card", settings_card_path %></li>
        <li<%if @nav_item == 'plan' %> class="active"<% end %>><%= link_to "Plan", settings_plan_path %></li>
        <li<%if @nav_item == 'users' %> class="active"<% end %>><%= link_to "Users", settings_user_permissions_path %></li>
        <li<%if @nav_item == 'user_invitations' %> class="active"<% end %>><%= link_to "User Invitations", settings_user_invitations_path %></li>
      <ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <%= render_heading %>

<%= render "shared/flash" %>

<%= yield %>
    </div>
  </div>
</div>

<%= yield :footer %>
</body>
</html>
